.header {
  display: flex;
  height: 40px;
  padding: 15px 15px;
  background-color: black;
  color: white;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 15px;
  cursor: pointer;
}

.img {
  height: 100%;
  margin-right: 10px;
}

.title {
  font-weight: 700;
  font-size: 30px;
}

.input {
  flex-basis: 100%;
  font-size: 18px;
  outline: 0;
}

.button {
  font-weight: 700;
  font-size: 16px;
}
